<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zuo.demo.lib_common">

    <uses-permission android:name="android.permission.INTERNET"/>

    //它可以监听用户的连接状态并在用户重新连接到网络时重启之前失败的请求
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    //用于硬盘缓存和读取
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    //扫一扫
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application>
        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="640"/>

    </application>
</manifest>
